body,
h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  line-height: 1.4em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.d-inline-block.top {
  display: inline-block;
  vertical-align: top;
}

.d-inline-block.base {
  display: inline-block;
  vertical-align: baseline;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.p-25 {
  padding: 25px;
}

.p-35 {
  padding: 35px;
}

.pull-right {
  float: right;
}

.mt-15 {
  margin-top: 15px;
}

.m-35 {
  margin: 35px;
}

.page-total {
  width: 40px;
}

.sidebar-wrapper {
  height: 100vh;
  overflow: scroll;
  background: #e9ecee;
  color: #27384e;
}

.main-content {
  background: #f7f7f7;
  height: 100vh;
}

.card {
  border-radius: 10px;
  padding: 10px;
  background: #fff;
  width: 150px;
  margin-top: 135px;
  margin-right: 35px;
}

.sidebar-wrapper img {
  width: 50px;
  border-radius: 25px;
  margin-top: 35px;
  margin-left: 35px;
}

.btn {
  padding: 5px;
  border-radius: 15px;
  background: #015efd;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin: 35px;
  margin-top: 20px;
}

.btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.single-title {
  width: 200px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  text-align: center;
  margin: 10px 20px;
  padding: 20px;
}

.single-title:hover {
  cursor: pointer;
  border: 1px solid #015efd;
}

/* --- Feature Notes --- */
.markdown {
  height: calc(100% - 70px);
  width: calc(50% - 50px);
  overflow: scroll;
  background: #fff;
  float: right;
  border-left: 10px solid #dfdfdf;
  padding: 0 20px;
}

.markdown p {
  margin-bottom: 1rem;
}

.markdown img {
  max-width: 100%;
  height: auto;
}

.markdown a {
  color: #47beee;
}

.markdown strong {
  color: #df81a2;
}

.markdown em {
  color: #fc487c;
}

.markdown code {
  color: #f1b352;
}

.markdown h1,
.markdown h2 {
  font-weight: 800;
  color: #083e52;
  text-align: left;
  color: #083e52;
  line-height: 1em;
}

.markdown h2 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 25px;
  font-weight: 500;
}

.markdown h3 {
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 400;
}
